:root {
    --primary-color: #435e45;
}

.top-bar {
    background: #f2f2f2;
    color: #000000;
    font-family: 'Oxygen', sans-serif;
    padding: 15px 0;
    font-weight: 600;
    font-size: 14px;
}

.social-icon-link {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.social-icon-link:hover {
    color: var(--primary-color);
}

.header-icon {
    color: var(--primary-color);
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
    .navbar-brand {
        width: 70%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 949px) {
    .navbar-brand {
        width: 70%;
    }
}

@media only screen and (min-width: 950px) {
    .navbar-brand {
        width: 35%;
    }

    .nav-item {
        margin-right: 20px;
    }
}

.nav-item {
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
}

.nav-item:hover {
    color: var(--primary-color);
}

.nav-item.active {
    color: var(--primary-color);
}