:root {
    --primary-color: #435e45;
}

.paget-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

@media only screen and (max-width: 767px) {
    .paget-title h2 {
        font-size: 36px;
    }

    .single-services {
        margin-bottom: 30px;
    }
}

.paget-title h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

section.services-area.services-page.section-padding {
    padding-bottom: 30px;
}

.section-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-services {
    margin-bottom: 50px;
}