:root {
    --primary-color: #435e45;
    --secondary-color: #198c3a;
}

.paget-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.paget-title h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

@media only screen and (max-width: 500px) {
    .paget-title h2 {
        font-size: 36px;
    }
}

.content {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
    .content {
        font-size: 14px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 949px) {
    .content {
        font-size: 20px;
    }
}

@media only screen and (min-width: 950px) {
    .content {
        font-size: 20px;
    }
}